/**
* Advantage Boxes
*/
.advantage-boxes {
  margin-top: 50px;
  padding-top: 65px;
  padding-bottom: 65px;
  background: -webkit-linear-gradient(to top, #fff, #f5f7fb);
  background: linear-gradient(to top, #fff, #f5f7fb);  
}
.advantage-boxes .hero {
  color: #383e68;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.advantage-boxes .item {
  position: relative;
  padding-top: 60px;
  margin-top: 60px;
}
.advantage-boxes .item .icon {
  position: absolute;
  left: 50%;
  top: 0;
  width: 52px;
  height: 52px;
  margin-left: -26px;
  color: #ffdf8e;
  text-align: center;
  line-height: 52px;
  font-size: 25px;
  background-color: #383e68;
  border-radius: 100%;
}
.advantage-boxes .item p {
  padding: 15px 10px 0;
  color: #383e68;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}