/**
* Apply Section
*/
.apply-section {
  padding-top: 95px;
  padding-bottom: 95px;
  text-align: center;
  background: -webkit-linear-gradient(to top, #383e68, #3b478d);
  background: linear-gradient(to top, #383e68, #3b478d);  
}
.apply-section .hero {
  margin-bottom: 45px;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}
.apply-section a {
  display: inline-block;
  width: 165px;
  height: 45px;
  color: #fff;
  text-align: center;
  line-height: 45px;
  background-color: $second-color;
  border-radius: 4px;
}