/**
* Content with list
*/
.content-with-list {
  padding-top: 65px;
  padding-bottom: 65px;
  background: -webkit-linear-gradient(to top, #fff, #f5f7fb);
  background: linear-gradient(to top, #fff, #f5f7fb);  
  &.content-with-list--bg {
    background: #f6f7fd;
  }
}
.content-with-list .desc {
  color: $base-color;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}
.content-with-list .bank-logos ul {
  display: block;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}
.content-with-list .bank-logos ul li {
  display: inline-block;
  margin: 0 5px;
}
.content-with-list .boxes {
  padding: 0 50px;
}
.content-with-list .boxes .item {
  position: relative;
  margin-top: 40px;
  padding-top: 55px;
  padding-right: 40px;
}
.content-with-list .boxes .item .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 46px;
  background: $second-color;
  border-radius: 100%;
}
.content-with-list .boxes .item .hero {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $second-color;
  font-size: 20px;
  font-weight: 700;
}
.content-with-list .boxes .item p {
  color: #606587;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
}
.content-with-list .items {
  margin-top: 70px;
  padding: 0 50px;
}
.content-with-list .items img {
  display: block;
  width: 100%;
}
.content-with-list .items .label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #18214d;
  font-size: 18px;
  font-weight: 700;
}
.content-with-list .items p {
  color: #606587;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
}