/**
* Hero
*/
.page-hero {
  padding-top: 120px;
  padding-bottom: 65px;
  text-align: center;
  background: -webkit-linear-gradient(to top, #383e68, #3b478d);
  background: linear-gradient(to top, #383e68, #3b478d);
}
.page-hero .hero {
  margin-bottom: 15px;
  color: #09b2f5;
  font-size: 32px;
  font-weight: 700;
  &.hero--orange {
    color: #ffbf1b;
  }
  &.hero--red {
    color: #ff6548;
  }  
  &.hero--green {
    color: #06dacf;
  }  
  &.hero--white {
    color: #fff;
  }      
}
.page-hero p {
  color: #d7d9e5;
  font-size: 18px;
  line-height: 30px;
}
.page-hero--single {
  background-color: #383e68;
}
.page-hero--single .hero {
  color: #fff;
  text-align: left;
}