/**
* About
*/
.about-us {
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
}
.about-us .hero {
  font-size: 38px;
  font-weight: 700;
}
.about-us p {
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: #606587;
  font-size: 16px;
  line-height: 26px;
}