/**
* Advantages
*/
.advantages {
  padding-top: 65px;
  padding-bottom: 65px;
  background: -webkit-linear-gradient(to top, #383e68, #3b478d);
  background: linear-gradient(to top, #383e68, #3b478d);
}
.advantages .hero {
  margin-bottom: 10px;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.advantages .desc {
  margin-bottom: 50px;
  padding-bottom: 25px;
  color: #d7d9e5;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.advantages .properties {
  padding-right: 50px;
  color: #d7d9e5;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.3px;
}
.advantages .properties li {
  position: relative;
  padding-left: 27px;
  margin-top: 20px;
}
.advantages .properties li em {
  position: absolute;
  left: 0;
  top: -2px;
  color: $second-color;
  font-size: 18px;
}
.advantages .image {
  position: relative;
  text-align: right;
}
.advantages .image img {
  position: relative;
  z-index: 3;
  display: inline-block;
  max-width: 100%;
  border-radius: 3px;
}
.advantages .image::after {
  content: '';
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 280px;
  height: 280px;
  background: url('../img/shape@green.svg') no-repeat center;
}