/**
* Brands
*/
.brands {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #f3f6fb;
}
.brands ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands li {
  display: inline-block;
  font-size: 0px;
  margin-left: 20px;
  margin-right: 20px;
}