/**
* Homepage Hero
*/
.homepage-hero {
  position: relative;
  margin-top: 55px;
  padding-top: 65px;
  padding-bottom: 65px;
}
.homepage-hero::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 70%;
  height: 100%;
  background: url('../img/bg@homepage-hero.jpg') no-repeat center center;
  background-size: cover;
}
.homepage-hero::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(to right, #eef0f9 80%, transparent);
  background: linear-gradient(to right, #eef0f9 80%, transparent);
}
.homepage-hero .container {
  position: relative;
  z-index: 6;
}
.homepage-hero .hero {
  margin-top: 35px;
  margin-bottom: 25px;
  color: $base-color;
  font-size: 45px;
  font-weight: 700;
}
.homepage-hero .properties {
  max-width: 400px;
  color: $base-color;
  font-size: 14px;
  font-weight: 600;
}
.homepage-hero .properties li {
  position: relative;
  padding-left: 30px;
  margin-top: 15px;
}
.homepage-hero .properties li em {
  position: absolute;
  left: 0;
  top: -2px;
  color: $second-color;
  font-size: 20px;
}
.homepage-hero .properties .subhead {
  font-weight: 700;
}
.homepage-hero .apply-form {
  padding: 30px 30px 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.2);
}
.homepage-hero .apply-form .form-label {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.homepage-hero .apply-form .field {
  position: relative;
  margin-top: 20px;
}
.homepage-hero .apply-form .field label.error {
  display: block;
  width: 100%;
  text-align: right;
  position: absolute;
  left: 0;
  bottom: -15px;
  color: #f44336;
  font-size: 11px;
  font-weight: 400;
}
.homepage-hero .apply-form .field label {
  display: block;
  color: #606587;
  font-size: 12px;
  font-weight: 600;
}
.homepage-hero .apply-form .field input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  font-size: 12px;
  color: $base-color;
  border: solid 1px #afb1c2;
  border-radius: 3px;
  transition: all .3s linear;
}
.homepage-hero .apply-form .select {
  position: relative;
}
.homepage-hero .apply-form .select em {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 6px;
  transform: translateY(-50%);
}
.homepage-hero .apply-form select {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  font-size: 12px;
  color: $base-color;  
  border: solid 1px #afb1c2;
  background: transparent;
  transition: all .3s linear;
  border-radius: 3px;  
  -webkit-appearance: none;
}
.homepage-hero .apply-form .field input.error,
.homepage-hero .apply-form .field select.error {
  border-color: #f44336;
}
.homepage-hero .apply-form button {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  border: unset;
  outline: none;
  background-color: $second-color;
  transition: all .3s linear;
  &:hover {
    background-color: darken($second-color, 5%)
  }
}
.homepage-hero .apply-form .call-me {
  padding-top: 20px;
  text-align: center;
}
.homepage-hero .apply-form .call-me a {
  color: #606587;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
}
.homepage-hero .apply-form .error-area {
  margin: 10px 0;
  font-size: 12px;
}