@font-face {
	font-family: "icon";
	src: url('../font/icon/icon.eot');
	src: url('../font/icon/icon.eot?#iefix') format('eot'),
		url('../font/icon/icon.woff') format('woff'),
		url('../font/icon/icon.ttf') format('truetype'),
		url('../font/icon/icon.svg#icon') format('svg');
}

%icon {
	font-family: "icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-right {
		$char: "\E001";
	}
	@if $filename == card {
		$char: "\E002";
	}
	@if $filename == check-circle {
		$char: "\E003";
	}
	@if $filename == chevron-down {
		$char: "\E004";
	}
	@if $filename == currency {
		$char: "\E005";
	}
	@if $filename == envelope {
		$char: "\E006";
	}
	@if $filename == facebook {
		$char: "\E007";
	}
	@if $filename == guard {
		$char: "\E008";
	}
	@if $filename == linkedin {
		$char: "\E009";
	}
	@if $filename == list {
		$char: "\E00A";
	}
	@if $filename == minus {
		$char: "\E00B";
	}
	@if $filename == phone {
		$char: "\E00C";
	}
	@if $filename == plus {
		$char: "\E00D";
	}
	@if $filename == question {
		$char: "\E00E";
	}
	@if $filename == security {
		$char: "\E00F";
	}
	@if $filename == time {
		$char: "\E010";
	}
	@if $filename == twitter {
		$char: "\E011";
	}

	@return $char;
}

@mixin icon($filename, $insert: before) {
	&:#{$insert} {
		@extend %icon;
		content: icon-char($filename);
	}
}

.icon-arrow-right {
	@include icon(arrow-right);
}
.icon-card {
	@include icon(card);
}
.icon-check-circle {
	@include icon(check-circle);
}
.icon-chevron-down {
	@include icon(chevron-down);
}
.icon-currency {
	@include icon(currency);
}
.icon-envelope {
	@include icon(envelope);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-guard {
	@include icon(guard);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-list {
	@include icon(list);
}
.icon-minus {
	@include icon(minus);
}
.icon-phone {
	@include icon(phone);
}
.icon-plus {
	@include icon(plus);
}
.icon-question {
	@include icon(question);
}
.icon-security {
	@include icon(security);
}
.icon-time {
	@include icon(time);
}
.icon-twitter {
	@include icon(twitter);
}
