/**
* Responsive
*/
.page-header .toggle {
  display: none;
}
@media(max-width: 1024px) {
  .page-header .navigation > ul > li > a {
    font-size: 12px;
  }
  .homepage-hero .hero {
    font-size: 40px;
  }
  .homepage-hero::after {
    width: 65%;
  }
  .homepage-hero .apply-form {
    padding: 20px 20px 15px;
  }
}

@media(max-width: 990px) {
  .page-header .backdrop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
  }
  .page-header .backdrop.active {
    display: block;
  }
  .page-header .navigation {
    display: none!important;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 270px;
    height: 100%;
    padding: 20px;
    text-align: left;
    background-color: #fff;
  } 
  .page-header .navigation.active {
    display: block!important;
  }
  .page-header .navigation > ul > li {
    display: block;
    margin: 15px 0;
  }
  .page-header .navigation a {
    font-size: 14px;
    color: $base-color!important;
  }
  .page-header .navigation a.button {
    display: block;
    width: 100%;
    border-color: $base-color!important;
    text-align: center;
  }
  .page-header .navigation a.button.colored {
    color: #fff!important;
    border-color: $second-color!important;
  }
  .page-header .navigation .dropdown {
    position: static;
    margin-left: 0;
  }
  .page-header .toggle {
    display: block;
    width: 27px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .page-header .toggle span {
    display: block;
    height: 3px;
    margin: 3px 0;
    background-color: $base-color;
  }
  .page-header--alternate .toggle span {
    background-color: #fff;
  }
  .page-header--alternate.fixed .toggle span {
    background-color: $base-color;
  }
  .page-header {
    padding: 0;
  }
  .page-header .row {
    min-height: 55px;
  }
  .brands {
    padding-top: 35px;
  }
  .brands ul {
    flex: 5;
    flex-wrap: wrap;
    justify-content: center;
  }
  .brands ul li {
    margin-top: 20px;
    flex: 0 0 17%;
  }
  .advantages .image::after,
  .posts .item .image::after {
    width: 180px;
    height: 180px;
    background-size: contain;
  }
  .posts--content .item p {
    font-size: 18px;
    line-height: 22px;
  }
  .apply-section .hero {
    font-size: 24px;
  }
  .posts .item .label {
    font-size: 22px;
  }
  .page-hero p,
  .posts--highlight .item p {
    font-size: 16px;
    line-height: 24px;
  }
  .posts--highlight .item p {
    padding-right: 0;
  }
  .page-hero p br {
    display: none;
  }
  .payment-solutions-row {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    line-height: 22px;
  }
  .static-content .faq .content {
    padding: 25px;
  }
  .partners .desc {
    max-width: 100%;
  }
  .partners .section li {
    flex: 0 0 28%;
  }
  .page-footer .info {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .homepage-hero {
    margin-top: 10px;
  }
  .homepage-hero .hero {
    font-size: 28px;
  }
  .homepage-hero .apply-form {
    margin-top: 20px;
  }
  .brands ul li {
    flex: 0 0 39%;
  }
  .posts .item .row > div,
  .advantages .row > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .posts .item .row .image,
  .advantages .row .image {
    padding: 15px;
  } 
  .advantages .image::after, .posts .item .image::after {
    right: 10px;
    bottom: 10px;
  }
  .posts .item--even .image::after {
    left: 10px;
  }
  .posts .item .badge {
    height: auto;
  }
  .posts .item p {
    padding-right: 0;
  }
  .page-footer .footer-top .row > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .page-footer .navigation li {
    float: none;
    text-align: center;
  }
  .page-footer .navigation a {
    border: unset;
  }
  .page-footer .card-logos ul {
    display: block;
  }
  .page-footer .card-logos ul li {
    margin: 10px 0;
  }
  .homepage-hero::before {
    width: 100%;
  }
  .advantage-boxes .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .advantage-boxes .item {
    margin-top: 15px;
  }
  .advantage-boxes {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .content-with-list .items .col-6,
  .content-with-list .boxes .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .content-with-list .boxes .item {
    padding-right: 0;
  }
  .content-with-list .items .item {
    margin-top: 15px;
  }
  .static-content .contact .info {
    position: static;
    margin: 0 0 15px;
    width: 100%;
  }
  .static-content .faq .section .toggle {
    line-height: 20px;
  }
  .partners .hero {
    font-size: 26px;
  }
  .partners .desc {
    font-size: 16px;
  }
  .partners .section li {
    flex: 0 0 100%;
  }
  .page-header .toggle {
    margin-right: 15px;
  }
}
