body {
	position: relative;
	overflow-x: hidden;
	color: $base-color;
	background-color: #fff;
}

input,
textarea,
select {
	&:focus {
		outline: none;
	}
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

button {
	font-family: inherit;
}

b {
	font-weight: 600;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
