@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:300,400,500,600,700&display=swap&subset=latin-ext');

$font-family: 'Bai Jamjuree', sans-serif;

* {
  font-family: $font-family;
}

$font-size--xxs: 11px;
$font-size--xs: 12px;
$font-size--sm: 13px;
$font-size--md: 14px;
$font-size--lg: 16px;
$font-size--xl: 18px;

$font-size__head--sm: 18px;
$font-size__head--md: 22px;
$font-size__head--lg: 26px;
$font-size__head--xl: 32px;


$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$letter-spacing--sm: 0.1px;
$letter-spacing: 0.2px;
$letter-spacing--lg: 0.4px;

h1 {
  font-size: $font-size__head--xl;
  font-weight: 400;
}

h2 {
  font-size: $font-size__head--lg;
  font-weight: $font-weight-medium;
}

h3 {
  font-size: $font-size__head--md;
  font-weight: $font-weight-medium;
  letter-spacing: 0.4px;
}

h4 {
  font-size: $font-size__head--sm;
  font-weight: $font-weight-medium;
  letter-spacing: 0.4px;
}

h5 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

h6 {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

p {
  margin: 0;
  color: #606587;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.2px;
}

.title {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
