/**
* Footer
*/
.page-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f3f6fb;
}
.page-footer .footer-top {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #383e681a;
}
.page-footer .footer-top .row {
  align-items: baseline;
}
.page-footer .navigation li {
  float: left;
}
.page-footer .navigation a {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  color: #606587;
  font-size: 11px;
  font-weight: 600;
  border-left: solid 1px #606587;
  transition: all .3s linear;
  &:hover {
    color: $base-color;
  }
}
.page-footer .navigation li:first-child a {
  margin-left: 0;
  padding-left: 0;
  border-left: unset;
}
.page-footer .info {
  text-align: right;
}
.page-footer .info .icon {
  position: absolute;
  left: 0;
  top: -2px;
  width: 32px;
  height: 32px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  background-color: #606587;
  border-radius: 100%;
}
.page-footer .info li {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  padding-left: 40px;
  color: #606587;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  &:first-of-type {
    margin-left: 0;
  }
}
.page-footer .info li strong {
  display: block;
  font-weight: 700;
}
.page-footer .card-logos ul {
  display: flex;
  align-items: center;
}
.page-footer .card-logos li {
  margin-right: 20px;
}
.page-footer .social-media {
  text-align: right;
}
.page-footer .social-media li {
  display: inline-block;
  margin-left: 10px;
}
.page-footer .social-media a {
  color: #606587;
  font-size: 20px;
}
.page-footer .copyright {
  padding-top: 35px;
  color: #80849f;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.page-footer .copyright p {
  margin-top: 15px;
}