/**
* Header
*/
.page-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  &.fixed {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }
}
.page-header .row {
  align-items: center;
}
.page-header .navigation {
  text-align: right;
}
.page-header .navigation > ul > li {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  font-size: 0px;
}
.page-header .navigation > ul > li > a {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 14px;
  color: $base-color;
  font-weight: 600;
  letter-spacing: 0.3px;
  transition: all .3s linear;
}
.page-header .navigation > ul > li:hover > a {
  color: $second-color;
}
.page-header .navigation a em {
  font-size: 7px;
  vertical-align: middle;
}
.page-header .navigation a.button {
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 35px;
  border: solid 1px $base-color;
  border-radius: 3px;
  &:hover {
    color: $base-color;
    background-color: rgba(56, 62, 104, 0.1);
  }
}
.page-header .navigation a.button.colored {
  color: #fff;
  background-color: $second-color;
  border-color: $second-color;
  &:hover {
    color: $second-color;
    background: transparent;
    border-color: $second-color;
  }
}
.page-header .navigation .dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 7px;
  margin-left: -30px;
}
.page-header .navigation .dropdown ul {
  width: 220px;
  padding: 10px 15px;
  border: solid 1px #eaecf6;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(43, 57, 157, 0.15);
  background-color: #fff;
}
.page-header .navigation .dropdown li {
  margin: 15px 0;
  text-align: left;
}
.page-header .navigation .dropdown a {
  display: block;
  color: $base-color;
  font-size: 14px;
  font-weight: 700;
  transition: all .3s linear;
  &:hover {
    color: $second-color;
  }
}
.page-header .navigation li:hover .dropdown {
  display: block;
}
.page-header--alternate {
  background-color: transparent;
  &.fixed {
    background-color: #fff;
  }
}
.page-header--alternate .black {
  display: none;
}
.page-header--alternate.fixed .white {
  display: none;
}
.page-header--alternate.fixed .black {
  display: block;
}
.page-header--alternate .navigation a {
  color: #fff;
  &:hover {
    border-color: #fff; 
  }
}
.page-header--alternate .navigation a.button {
  color: #fff;
  border-color: #fff;
  &:hover {
    color: $base-color;
    background-color: #fff;
  }
}
.page-header--alternate .navigation > ul > li > a {
  color: #fff;
}
.page-header--alternate .navigation > ul > li:hover > a {
  color: $second-color;
}
.page-header--alternate.fixed .navigation > ul > li > a {
  color: $base-color;
}
.page-header--alternate.fixed .navigation > ul > li:hover > a {
  color: $second-color;
}
.page-header--alternate.fixed .navigation a.button {
  color: $base-color;
  border-color: $base-color;
  &:hover {
    color: $base-color;
    background-color: rgba(56, 62, 104, 0.1);
  }
}
.page-header--alternate.fixed .navigation a.button.colored {
  color: #fff;
  border-color: $second-color;
  &:hover {
    color: $second-color;
    background: transparent;
  }
}