/**
* Posts
*/
.posts .item {
  padding-top: 50px;
  padding-bottom: 50px;
}
.posts .item .row {
  align-items: center;
}
.posts .item .badge {
  display: inline-block;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  color: #12aba3;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  border-radius: 2px;
  background-color: #06dacf1a;
  text-transform: uppercase;
  &.badge--blue {
    color: #00b0f5;
    background-color: #ebf7ff;
  }
  &.badge--orange {
    color: #ffbf1b;
    background-color: #ffbf1b2b;
  }  
  &.badge--red {
    color: #ff6548;
    background-color: #ff654826;
  }    
  &.badge--green {
    color: #06dacf;
    background-color: #06dacf1a;
  }      
}
.posts .item .hero {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 600;
}
.posts .item .label {
  color: $second-color;
  font-size: 32px;
  font-weight: 700;
}
.posts .item p {
  margin-top: 20px;
  padding-right: 100px;
  margin-bottom: 20px;
  color: #606587;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
}
.posts .item .notice {
  padding: 15px 15px 15px 15px;
  color: $base-color;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  background-color: rgba(6, 218, 207, 0.1);
  border-left: solid 3px $second-color;
}
.posts--highlight {
  background-color: #f6f7fd;
}
.posts--highlight .item {
  padding-left: 50px;
  padding-right: 50px;
}
.posts--highlight .item p {
  color: #383e68;
  font-size: 21px;
  line-height: 32px;
}
.posts--content .item p {
  color: #383e68;
  padding-right: 20px;
  font-size: 24px;
  line-height: 34px;
}
.posts .item .more {
  display: inline-block;
  padding-bottom: 5px;
  color: #12aba3;
  font-size: 14px;
  font-weight: 700;
  border-bottom: solid 2px transparent;
  transition: all .3s linear;
}
.posts .item .more em {
  display: inline-block;
  margin-left: 2px;
  font-size: 12px;
  vertical-align: middle;
  transition: all .3s linear;
}
.posts .item .more:hover {
  border-bottom-color: #12aba3;
}
.posts .item .more:hover em {
  transform: translateX(3px);
}
.posts .item .image {
  position: relative;
  text-align: right;
}
.posts .item .image img {
  position: relative;
  z-index: 3;
  display: inline-block;
  max-width: 100%;
  border-radius: 3px;
}
.posts .item .image::after {
  content: '';
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 280px;
  height: 280px;
  background: url('../img/shape@green.svg') no-repeat center;
}
.posts .item .image--orange::after {
  background: url('../img/shape@orange.svg') no-repeat center; 
}
.posts .item .image--red::after {
  background: url('../img/shape@red.svg') no-repeat center; 
}
.posts .item--even .image {
  text-align: left;
}
.posts .item--even .image::after {
  right: auto;
  left: -20px;
}
.posts .item .logos li {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 130px;
  height: 70px;
  margin-right: 15px;
  text-align: center;
  line-height: 70px;
  box-shadow: 0px 2px 4px rgba(146, 147, 185, 0.1);
  border: solid 1px #f1f4f8;
  border-radius: 1px;
}
.posts .item .logos li img:nth-child(even) {
  margin-left: 5px;
}
.posts--highlight .item .image::after {
  top: -20px;
  bottom: auto;
}