/**
* Static Page
*/
.static-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.static-content .title {
  margin-bottom: 20px;
  color: #8286a1;
  font-size: 18px;
  font-weight: 500;
}
.static-content .desc {
  color: #8384a1;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.static-content .desc a {
  color: #383e68;
}

// Contact
.static-content .contact {
  position: relative;
  margin-top: 25px;
}
.static-content .contact .info {
  position: absolute;
  left: 0;
  top: 0;
  width: 540px;
  margin-top: 30px;
  margin-left: 30px;
  padding: 25px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0px 7px 13px rgba(35, 37, 48, 0.12);
}
.static-content .contact .info li {
  position: relative;
  padding: 10px 0;
  color: #8286a1;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  border-top: solid 1px #383e681a;
  &:first-child {
    border-top: unset;
  }
}
.static-content .contact .info li span {
  position: absolute;
  left: 50%;
  width: 50%;
  text-transform: lowercase;
}

// faq
.static-content .faq .tabs ul {
  display: flex;
  justify-content: center;
}
.static-content .faq .tabs li {
  position: relative;
  bottom: -1px;
  margin-left: 25px;
  margin-right: 25px;
}
.static-content .faq .tabs a {
  display: inline-block;
  padding-bottom: 20px;
  color: #888ba4;
  font-size: 14px;
  border-bottom: solid 1px transparent;
  transition: all .3s linear;
  &:hover {
    color: $base-color;
    border-bottom-color: $base-color;
  }
}
.static-content .faq .content {
  padding: 50px 60px;
  background-color: #f7f8f9;
  border: solid 1px rgba(151, 151, 151, 0.12);
  border-radius: 1px;
}
.static-content .faq .section .section-hero {
  margin-bottom: 30px;
  color: #8286a1;
  font-size: 22px;
  font-weight: 500;
}
.static-content .faq .section li {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px rgba(151, 151, 151, 0.12);
}
.static-content .faq .section .toggle {
  position: relative;
  cursor: pointer;
  color: $base-color;
  font-size: 16px;
  font-weight: 500;
  padding-right: 50px;
}
.static-content .faq .section .toggle em {
  position: absolute;
  right: 0;
  top: 0;
  color: $second-color;
}
.static-content .faq .section .detail {
  display: none;
  padding-right: 50px;
  margin-top: 15px;
  color: #606587;
  font-size: 14px;
  line-height: 23px;
}
.static-content .faq .section .detail a {
  color: #383e68;
  text-decoration: underline;
}
.static-content .faq .section li.active .icon-plus {
  display: none;
}
.static-content .faq .section li.active .detail {
  display: block;
}

// payment page
.payment-solutions-row {
  padding-top: 85px;
  padding-bottom: 85px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  background: url('../img/img@payment-solutions-row.png') no-repeat;
  background-size: cover;
}

.static-content p {
  margin-bottom: 25px;
  font-size: 15px;
}

.static-content ul {
  margin-left: 15px;
}

.static-content li {
  margin-left: 15px;
  list-style: disc;
  margin-bottom: 10px;
}
