/**
* Partners
*/
.partners {
  padding-bottom: 65px;
  background: -webkit-linear-gradient(to top, #fff, #f5f7fb);
  background: linear-gradient(to top, #fff, #f5f7fb);    
}
.partners .hero {
  margin-bottom: 15px;
  color: $base-color;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.partners .desc {
  max-width: 65%;
  margin: 0 auto;
  color: $base-color;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  line-height: 28px;
}
.partners .section {
  padding-top: 65px;
}
.partners .section ul {
  display: flex;
  flex: 4;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.partners .section li {
  flex: 0 0 21%;
  height: 185px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(143, 149, 179, 0.19);
}
.partners .section li img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}